$primary: #283593;
$secondary: #2dc4ea;
$warning: #fdcf41;

.bg-primary {
    background-color: $primary !important;
}
.text-primary {
    color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}
.text-secondary {
    color: $secondary !important;
}

.bg-warning {
    background-color: $warning !important;
}
.text-warning {
    color: $warning !important;
}
